
.ndm-signup-message {
    background-color: #fcfcfc;
    padding: 10px 0 20px 20px;
    border-radius: 3px;
    border: 1px solid #aeaeae;
}
.ndm-signup-message a {
    color: #ffffff !important;
    border: 1px solid #0065B7;
    border-radius: 3px;
    background-color: #0065B7;
    padding: 10px 15px;
}

.ndm-signup-message a:hover{
    text-decoration: none;
    /*color: #E1E1E1 !important;*/
    background-color: #557DB6;
}

.nudiag_attachment {
    display: inline-block;
    height: auto;
    min-height: 48px;
    line-height: 48px;
    background-position: left top;
    background-attachment: scroll;
    background-repeat: no-repeat;
    padding-left: 76px !important;
}

.nudiag_pdf {
    background-image: url("../images/pdf-icon-48x48.png");
}